In [1]:
import pandas as pd
import investpy
import bs4
from bs4 import BeautifulSoup
import requests
import json

#get Investing.com tickers and generate .csv with all listed tickers

# stonks= investpy.get_stocks(country="Brazil")
# stonks.to_csv('investpyDict.csv', index= False)

#get Investing.com data from previously created file
stonks= pd.read_csv('investpyDict.csv')

In [2]:
stonks.head()

,country,name,full_name,isin,currency,symbol
0,brazil,ABC BRASIL PN,Banco ABC Brasil SA,BRABCBACNPR4,BRL,ABCB4
1,brazil,BRASILAGRO ON,BrasilAgro - Co ON NM,BRAGROACNOR7,BRL,AGRO3
2,brazil,RUMO ON NM,RUMO Logistica Operadora Multimodal SA,BRRAILACNOR9,BRL,RAIL3
3,brazil,ALPARGATAS ON,Alpargatas SA,BRALPAACNOR0,BRL,ALPA3
4,brazil,ALPARGATAS PN,Alpargatas SA,BRALPAACNPR7,BRL,ALPA4

In [13]:
#create function to get stock name from TradingView
def get_stock_name(ticker, exchange= 'BMFBOVESPA'):
    site= 'https://www.tradingview.com/symbols/' + exchange + '-' + ticker
    response = requests.get(site)
    soup= BeautifulSoup(response.text, 'lxml')
    jdscript_info= json.loads("".join(soup.find_all("script", {"type":"application/ld+json"})[-1].contents))
    if jdscript_info['name'] == 'TradingView':
        raise Exception('InputError: wrong ticker or exchange')
    else:
        return jdscript_info['name']

# get_stock_name('TSLA', 'BAWSAQ')

In [14]:
tickername= []
for ticker in stonks.symbol:
#     print(ticker)
    try:
        tickername.append(get_stock_name(ticker))
    except:
        tickername.append('_')
        print(f'Could not get data for {ticker}')

Could not get data for BPHA3
Could not get data for CAMB4
Could not get data for LIQO3
Could not get data for ELEK4
Could not get data for IDNT3
Could not get data for NATU3
Could not get data for PCAR4
Could not get data for TIMP3
Could not get data for TRPN3
Could not get data for VIVT4
Could not get data for ELPL3
Could not get data for CCXC3
Could not get data for CPRE3
Could not get data for BBVJ11
Could not get data for FIXX11
Could not get data for RBCB11
Could not get data for RDES11
Could not get data for SAAG11
Could not get data for TRXL11
Could not get data for SEDU3
Could not get data for TOYB3
Could not get data for AVON34
Could not get data for TIFF34
Could not get data for UTEC34
Could not get data for DOMC11
Could not get data for ABCB10
Could not get data for ANIM3T
Could not get data for CELP3
Could not get data for CELP5
Could not get data for CPRE3T
Could not get data for CVCB3T
Could not get data for ELEK3
Could not get data for MEND5
Could not get data for DMMO3T
Could not get data for RANI4
Could not get data for SEER3T
Could not get data for SMLS3T
Could not get data for SPRI3
Could not get data for TOYB4
Could not get data for ATSA11B
Could not get data for BMLC11B
Could not get data for CPTS11B
Could not get data for ENMA3B
Could not get data for FVBI11
Could not get data for WPLZ11B
Could not get data for CHKE34
Could not get data for JCPC34
Could not get data for SANC34
Could not get data for SPRN34
Could not get data for POMO10
Could not get data for GBIO33
Could not get data for CLGN34
Could not get data for GFSA1
Could not get data for FOFT11
Could not get data for BIDI4T
Could not get data for TASA13
Could not get data for TASA15
Could not get data for TASA17
Could not get data for DMMO11
Could not get data for ITEC3
Could not get data for CELP6
Could not get data for CELP7
Could not get data for MEND6
Could not get data for BEEF11
Could not get data for JBDU1
Could not get data for JBDU2
Could not get data for LOGN12
Could not get data for MYPK12
Could not get data for VAMO3
Could not get data for CAMB10
Could not get data for IDVL9
Could not get data for TFOF11
Could not get data for TIET2
Could not get data for HBTT11
Could not get data for OULG11B
Could not get data for TCR11
Could not get data for YCHY11
Could not get data for BMGB11
Could not get data for SDIP11

In [3]:
TickersDict= pd.DataFrame(pd.concat([pd.Series(stonks.symbol.values), pd.Series(stonks.name.values)],axis=1))
TickersDict.columns= ['Ticker', 'InvName']
TickersDict['B3Name']= tickername
TickersDict= TickersDict.drop(TickersDict.index[TickersDict.B3Name == '_']) #remove tickers sem nome no TradingView
# TickersDict.loc[TickersDict.B3Name != '_']
TickersDict['nosName']= TickersDict['B3Name'].str.replace(" ","") #cria coluna para nomes sem espaços para evitar problemas de concordancia de espacos

TickersDict.head()

NameError: name 'tickername' is not defined

In [13]:
#!!!keep commented unless you want to update the file!!!

# TickersDict.to_csv('TickersDict.csv',index= False)

# Após gerar o arquivo

In [4]:
TickersDict= pd.read_csv('TickersDict.csv')
# TickersDict['nosName']= TickersDict['B3Name'].str.replace(" ","") #cria coluna para nomes sem espaços para evitar problemas de concordancia de espacos
TickersDict['EDJ']= (TickersDict['B3Name'].str[:-2] + 'EDJ' + TickersDict['B3Name'].str[-2:]).str.replace(" ","") #cria coluna para nomes sem espaços para evitar problemas de concordancia de espacos
TickersDict['ONN']= (TickersDict['B3Name'].str[:-2] + 'N').str.replace(" ","")  #cria coluna para nomes sem espaços para evitar problemas de concordancia de espacos
TickersDict['EJ']= (TickersDict['B3Name'].str[:-2] + 'EJ' + TickersDict['B3Name'].str[-2:]).str.replace(" ","")  #cria coluna para nomes sem espaços para evitar problemas de concordancia de espacos

TickersDict.head()

,Ticker,InvName,B3Name,nosName,EDJ,ED,EJ,ONN
0,ABCB4,ABC BRASIL PN,ABC BRASIL PN N2,ABCBRASILPNN2,ABCBRASILPNEDJN2,ABCBRASILPNEDN2,ABCBRASILPNEJN2,ABCBRASILPNN
1,AGRO3,BRASILAGRO ON,BRASILAGRO ON NM,BRASILAGROONNM,BRASILAGROONEDJNM,BRASILAGROONEDNM,BRASILAGROONEJNM,BRASILAGROONN
2,RAIL3,RUMO ON NM,RUMO S.A. ON NM,RUMOS.A.ONNM,RUMOS.A.ONEDJNM,RUMOS.A.ONEDNM,RUMOS.A.ONEJNM,RUMOS.A.ONN
3,ALPA3,ALPARGATAS ON,ALPARGATAS ON N1,ALPARGATASONN1,ALPARGATASONEDJN1,ALPARGATASONEDN1,ALPARGATASONEJN1,ALPARGATASONN
4,ALPA4,ALPARGATAS PN,ALPARGATAS PN N1,ALPARGATASPNN1,ALPARGATASPNEDJN1,ALPARGATASPNEDN1,ALPARGATASPNEJN1,ALPARGATASPNN

In [7]:
TickersDict= TickersDict.drop(columns=['ED','EJ'])

In [8]:
TickersDict.head()

,Ticker,InvName,B3Name,nosName,EDJ,ONN
0,ABCB4,ABC BRASIL PN,ABC BRASIL PN N2,ABCBRASILPNN2,ABCBRASILPNEDJN2,ABCBRASILPNN
1,AGRO3,BRASILAGRO ON,BRASILAGRO ON NM,BRASILAGROONNM,BRASILAGROONEDJNM,BRASILAGROONN
2,RAIL3,RUMO ON NM,RUMO S.A. ON NM,RUMOS.A.ONNM,RUMOS.A.ONEDJNM,RUMOS.A.ONN
3,ALPA3,ALPARGATAS ON,ALPARGATAS ON N1,ALPARGATASONN1,ALPARGATASONEDJN1,ALPARGATASONN
4,ALPA4,ALPARGATAS PN,ALPARGATAS PN N1,ALPARGATASPNN1,ALPARGATASPNEDJN1,ALPARGATASPNN

In [21]:
#convert 2 pandas series to dictionary

# pd.Series(TickersDict.InvName.values,index=TickersDict.Ticker).to_dict()

In [9]:
tickerdict= {}
for index, row in TickersDict.iterrows():
    tickerdict[row['InvName']]= row['Ticker']
    tickerdict[row['B3Name']]= row['Ticker']
    tickerdict[row['nosName']]= row['Ticker']
    tickerdict[row['EDJ']]= row['Ticker']
#     tickerdict[row['ED']]= row['Ticker']
#     tickerdict[row['EJ']]= row['Ticker']
    tickerdict[row['ONN']]= row['Ticker']
    tickerdict[row['Ticker']]= row['Ticker']
    
# for index, row in TickersDict.iterrows():
#     dictionary[row['Ticker']]= row['InvName'], row['B3Name'], row['nosName']

In [11]:
print(tickerdict['BRADESCOPNN'.replace(" ", "")])

BBDC4

In [12]:
def getkey(dictionary, item_str):
    for key, item in dictionary.items():
        if item_str in item:
            return key
    return print('Key not found')
        
getkey(tickerdict, 'GGBR4')

'GERDAU PN N1'

In [24]:
# print(soup)

In [ ]:
#maybe use mechanize if needed?

# import mechanize 
# br = mechanize.Browser()
# br.set_handle_robots(False)
# reqtxt= br.open(tradingview)
# soup= BeautifulSoup(reqtxt, 'lxml')